@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Entrada */

@keyframes animacaoEntrada {
    to {
        top: 10%;
    }

    from {
        top: 50%;
    }
}

@keyframes animacaoForm {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animacaoBem {
    from {
        opacity: 0;
        right: 95%;
    }

    to {
        opacity: 1;
        right: 65%;
    }
}

@keyframes animacaoVindo {
    from {
        opacity: 0;
        left: 95%;
    }

    to {
        opacity: 1;
        left: 65%;
    }
}

/* Saída */

@keyframes animacaoSaida {
    to {
        top: 50%;
    }

    from {
        top: 10%;
    }
}

@keyframes animacaoFormSaida {
    from {
            opacity: 1;
    }
    to {
            opacity: 0;
    }
    
}

@keyframes animacaoBemSaida {
    from {
        opacity: 1;
        right: 65%;
    }

    to {
        opacity: 0;
        right: 95%;
    }
}

@keyframes animacaoVindoSaida {
    from {
        opacity: 1;
        left: 65%;
    }

    to {
        opacity: 0;
        left: 95%;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(40deg, #00FFFF, rgb(86, 86, 169));
}

.cadastro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 60vh;
    width: 360px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.304);
    text-align: center;
}

.inputs {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 20px;
    margin-top: 30px;
    border: 1px solid rgb(86, 86, 169);
    border-radius: 15px;
    width: 300px;
}

h1 {
    margin-top: 30px;
}

.btn {
    margin-top: 30px;
    color: white;
    background-color: rgb(86, 86, 169);
    border: none;
    padding: 10px 30px;
    width: 300px;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 0.5s;
    -webkit-tap-highlight-color: transparent;
}

.btn:hover {
    background-color: rgb(72, 72, 138);
}

.infos {
    display: none;
}

img {
    color: black;
    width: 70px;
    height: 70px;
    pointer-events: none;
    outline: none;
}

.imagem {
    position: relative;
    top: 50%;
    transform: translate(0%, -40%);
    cursor: pointer;
    transition-duration: 0.5s;
}

.animado {
    animation: animacaoEntrada 0.8s ease-in-out forwards;
}

.animadoSaida {
    animation: animacaoSaida 0.8s ease-in-out forwards;
}

.animacaoForm {
    animation: animacaoForm 1.5s ease-in-out forwards;
}

.animacaoFormSaida {
    animation: animacaoFormSaida 1.5s ease-in-out forwards;
}

.bem {
    position: absolute;
    right: 65%;
    top: -25%;
    display: none;
}

.vindo {
    position: absolute;
    left: 65%;
    top: -25%;
    display: none;
    
}

.bemAnimado {
    display: block;
    animation: animacaoBem 2s ease-in-out;
}

.vindoAnimado {
    display: block;
    animation: animacaoVindo 2s ease-in-out;
}

.bemAnimadoSaida {
    display: block;
    animation: animacaoBemSaida 2s ease-in-out forwards;
}

.vindoAnimadoSaida {
    display: block;
    animation: animacaoVindoSaida 2s ease-in-out forwards;
}


@media screen and (max-width: 600px){
    .cadastro{
        height: 70vh;
        width: 80vw;
        min-width: 340px;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .btn, .inputs {
        width: 75vw;
    }
}